.character-list {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

.character-list-item {
  display: flex;
  flex-flow: row nowrap;
  width: 256px;
  height: 160px;
  margin: 8px;
  background-color: #dfdfdf;
}

.character-card {
  display: block;
  position: relative;
  width: 128px;
  height: 128px;
}
.character-card-portrait {
  display: block;
  float: left;
  width: 128px;
  height: 128px;
}
.character-card-name {
  display: block;
  width: 100%;
  text-align: center;
}
.character-card-element {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.character-card-weapon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.character-card-rarity {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.character-material-list {
  display: grid;
  grid-template: 33.33333% 33.33333% 33.33333% / 50% 50%;
  grid-gap: 8px;
  width: calc(2 * 32px + 8px);
  height: calc(3 * 32px + 2 * 8px);
  margin: 8px;
  padding: 0;
}
.character-material-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

/* .character-detail-list {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  margin: 0;
  padding: 0;
}
.character-detail-item {
  display: block;
  width: 100%;
}
.character-detail-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
} */