.character-list-item {
  display: flex;
}

.character-card {
  display: block;
  position: relative;
  width: 128px;
  height: 128px;
  margin: 4px;
}

.portrait {
  display: block;
  float: left;
  width: 128px;
  height: 128px;
}
.character-card-name {
  display: block;
  width: 100%;
  text-align: center;
}

.icon {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
}
.icon-small-round {
  border-radius: 16px;
}
.icon-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.icon-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-label {
  float: left;
}

.rarity {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.rarity-stars {
  width: 128px;
  /* height: 32px; */
  text-align: center;
}

.character-data-list {
  display: flex;
  flex-direction: column;
  width: calc(100% - 128px - 66.66666%);
}
.character-data-item {
  display: flex;
  width: 100%;
  margin: 4px 0;
}