#toggleView {
  width: 64px;
  height: 64px;
  background: red;
}

.filterButton {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 4px solid lightblue;
}
.filterButtonImg {
  width: 100%;
  height: 100%;
}
.activeFilter {
  border:4px solid lightcoral;
}

.characterListItem {
  display: block;
  position: relative;
  width: 128px;
  height: 128px;
  border: 4px solid lightblue;
}

.selectedListItem {
  border: 4px solid green;
}